<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <title>Evaluaciones</title>
    <link rel="stylesheet" href="../styles/styles_evaluaciones.css">
    <link rel="stylesheet" href="../styles/styles_header_footer.css">
    <script src="https://kit.fontawesome.com/829f2fe815.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../assets/icons/favicon.ico">
</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo"><img src="../assets/icons/logo.svg" alt="Logo"></div>
            <ul class="links">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="membresias.html">Membresías</a></li>
                <li><a href="evaluaciones.html">Evaluaciones</a></li>
            </ul>
            <a href="contacto.html" class="action_btn">Contacto</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="membresias.html">Membresías</a></li>
            <li><a href="evaluaciones.html">Evaluaciones</a></li>
            <li><a href="contacto.html" class="action_btn">Contacto</a></li>
        </div>
    </header>

    <main>
        <h2 class="subtitle">EVALUACIONES</h2>
        <p class="texto">Te ofrecemos una lista de evaluaciones psicológicas, cada una tiene una duración y propósito
            definido.</p>

        <div class="contenedor">
            <div class="card">
                <img src="../assets/images/img1.jpg" alt="Imagen 1">
                <div class="titulo">Evaluación de bienestar psicológico universitario</div>
                <ul>
                    <li>Duración: 15 minutos</li>
                    <li>Propósito: Detectar síntomas de trastornos psicológicos en estudiantes universitarios para
                        brindar apoyo especializado.</li>
                    <li>Tipo: Gratuito / Platino / Golden</li>
                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/img2.jpg" alt="Imagen 2">
                <div class="titulo">Evaluación de bienestar emocional de mi hijo</div>
                <ul>
                    <li>Duración: 15 minutos</li>
                    <li>Propósito: Evaluar el estado emocional y el bienestar general de un hijo en un periodo de
                        crecimiento dado.</li>
                    <li>Tipo: Gratuito / Platino / Golden</li>
                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/img3.jpg" alt="Imagen 3">
                <div class="titulo">Evaluación de estrés y resilencia</div>
                <ul>
                    <li>Duración: 20 minutos</li>
                    <li>Propósito: Medir la capacidad del usuario para afrontar situaciones estresantes.</li>
                    <li>Tipo: Platino / Golden</li>
                </ul>
            </div>
            <div class="card">
                <img src="../assets/images/img4.jpg" alt="Imagen 4">
                <div class="titulo">Evaluación de síntomas de transtornos psicológicos</div>
                <ul>
                    <li>Duración: 10 minutos</li>
                    <li>Propósito: Identificar síntomas comunes o raros de problemas psicológicos</li>
                    <li>Tipo: Platino / Golden</li>
                </ul>
            </div>
        </div>

        <!-- <div class="ctn-btn-evalu">
            <button class="btn-evalu">Ver más</button>
        </div> -->

    </main>

</body>
<footer class="footer">
	<div id="redes">
		<a href="https://www.instagram.com">
			<img id="ig" src="../assets/icons/instagram.png" width="30px" alt="Instagram">
		</a>
		<a href="https://www.tiktok.com">
			<img id="tiktok" src="../assets/icons/tik-tok.png" width="30px" alt="TikTok">
		</a>
		<a href="https://www.facebook.com">
			<img id="fb" src="../assets/icons/facebook.png" width="30px" alt="Facebook">
		</a>
		<a href="https://twitter.com">
			<img id="twitter" src="../assets/icons/twitter.png" width="30px" alt="Twitter">
		</a>
	</div>
	<div id="privacidad-terminos">
		<a href="#" id="privacidad">AVISO DE PRIVACIDAD</a>
		<a href="#">TERMINOS Y CONDICIONES</a>
	</div>
</footer>

<!--JAVASCRIPT-->
<script src="../scripts/header.js"></script>


</html>