<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membresías</title>
    <link rel="stylesheet" href="../styles/styles_membresias.css">
    <link rel="stylesheet" href="../styles/styles_header_footer.css">
    <script src="https://kit.fontawesome.com/829f2fe815.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../assets/icons/favicon.ico">
</head>



<body>
    <header class="header">
        <div class="navbar">
            <div class="logo"><img src="../assets/icons/logo.svg" alt="Logo"></div>
            <ul class="links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href=" nosotros.html">Nosotros</a></li>
                <li><a href="membresias.html">Membresías</a></li>
                <li><a href="evaluaciones.html">Evaluaciones</a></li>
            </ul>
            <a href="contacto.html" class="action_btn">Contacto</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="membresias.html">Membresías</a></li>
            <li><a href="evaluaciones.html">Evaluaciones</a></li>
            <li><a href="contacto.html" class="action_btn">Contacto</a></li>
        </div>
    </header>
    <main>
        <h1 class="titulo"> MEMBRESÍAS </h1>
        <h2 class="subtitulo"> Te ofrecemos membresías mensuales con distintos beneficios.</h2>
        <div class="membresias">
            <div class="cuadro">
                <div class="cuadro-interno">
                    <p>Gratuito</p>
                </div>
                <p class="precio">Precio: 0 soles / mes</p>
                <ul>
                    <li>
                        <p> Acceso limitado a una selección de evaluaciones básicas. </p>
                    </li>
                    <li>
                        <p> Actualizaciones ocasionales sobre salud mental. </p>
                    </li>
                    <li>
                        <p> Recomendaciones generales de autoayuda. </p>
                    </li>
                </ul>
                <button class="boton-azul">Comprar</button>
            </div>

            <div class="cuadro">
                <div class="cabecera_cuadro">
                    <div class="star top-left">&#9733;</div>
                    <div class="cuadro-interno">
                        <p>Oro</p>
                    </div>
                    <div class="star top-right">&#9733;</div>
                </div>
                <p class="precio">Precio: 24 soles / mes</p>
                <ul>
                    <li>
                        <p> Acceso completo a todas las evaluaciones disponibles. </p>
                    </li>
                    <li>
                        <p> Evaluaciones más detalladas y personalizadas. </p>
                    </li>
                    <li>
                        <p> Recomendaciones específicas de especialistas para el usuario. </p>
                    </li>
                    <li>
                        <p> Actualizaciones regulares y contenido exclusivo sobre bienestar mental. </p>
                    </li>
                </ul>
                <button class="boton-azul">Comprar</button>
            </div>

            <div class="cuadro">
                <div class="cabecera_cuadro">
                    <div class="star1 top-left">&#9733;</div>
                    <div class="cuadro-interno">
                        <p>Platino</p>
                    </div>
                    <div class="star1 top-right">&#9733;</div>
                </div>

                <p class="precio">Precio: 40 soles / mes</p>
                <ul>
                    <li>
                        <p> Acceso completo a todas las evaluaciones disponibles. </p>
                    </li>
                    <li>
                        <p> Plan de acción personalizado y seguimiento del proceso. </p>
                    </li>
                    <li>
                        <p> Soporte de chat en vivo 24/7 con psicólogos certificados. </p>
                    </li>
                    <li>
                        <p> Acceso prioritario a nuevas características y actualizaciones. </p>
                    </li>
                </ul>
                <button class="boton-azul">Comprar</button>
            </div>

        </div>
    </main>


</body>

<footer class="footer">
	<div id="redes">
		<a href="https://www.instagram.com">
			<img id="ig" src="../assets/icons/instagram.png" width="30px" alt="Instagram">
		</a>
		<a href="https://www.tiktok.com">
			<img id="tiktok" src="../assets/icons/tik-tok.png" width="30px" alt="TikTok">
		</a>
		<a href="https://www.facebook.com">
			<img id="fb" src="../assets/icons/facebook.png" width="30px" alt="Facebook">
		</a>
		<a href="https://twitter.com">
			<img id="twitter" src="../assets/icons/twitter.png" width="30px" alt="Twitter">
		</a>
	</div>
	<div id="privacidad-terminos">
		<a href="#" id="privacidad">AVISO DE PRIVACIDAD</a>
		<a href="#">TERMINOS Y CONDICIONES</a>
	</div>
</footer>
<!--JAVASCRIPT-->
<script src="../scripts/header.js"></script>

</html>