<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles_nosotros.css">
    <link rel="stylesheet" href="../styles/styles_header_footer.css">
    <script src="https://kit.fontawesome.com/829f2fe815.js" crossorigin="anonymous"></script>
    <title>Nosotros</title>
    <link rel="icon" href="../assets/icons/favicon.ico">
</head>

<body>
    <header class="header">
        <div class="navbar">
            <div class="logo"><img src="../assets/icons/logo.svg" alt="Logo"></div>
            <ul class="links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href=" nosotros.html">Nosotros</a></li>
                <li><a href="membresias.html">Membresías</a></li>
                <li><a href="evaluaciones.html">Evaluaciones</a></li>
            </ul>
            <a href="contacto.html" class="action_btn">Contacto</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="membresias.html">Membresías</a></li>
            <li><a href="evaluaciones.html">Evaluaciones</a></li>
            <li><a href="contacto.html" class="action_btn">Contacto</a></li>
        </div>
    </header>

    <main>
        <h2 class="subtitle-us">NOSOTROS</h2>
        <div class="contenedor">
            <section class="first_section">
                <img class="image_nosotros" src="../assets/images/imagen1.jpg" alt="Imagen mision">
                <div class="texto texto_uno">
                    <p>Psycho-Mind se dedica a transformar el ámbito de la salud mental mediante tecnología avanzada.
                        Nos
                        enfocamos en desarrollar un sistema experto que detecte trastornos psicológicos en sus primeras
                        etapas. Reconociendo la vital importancia de la salud mental en el bienestar general. Nos
                        comprometemos a ofrecer una solución confiable y accesible que pueda tener un impacto
                        significativo.
                    </p>
                </div>
            </section>

            <section class="second_section">
                <div class="texto texto_dos">
                    <p>Creamos un sistema experto que fusiona inteligencia artificial y psicología clínica para brindar
                        evaluaciones precisas en línea. Respondiendo algunas preguntas prediseñadas se pueden detectar
                        indicios de trastornos psicológicos. Nuestro sistema utiliza algoritmos avanzados para analizar
                        las
                        respuestas y generar evaluaciones preliminares basadas en investigaciones psicológicas
                        reconocidas.
                    </p>
                </div>
                <img class="image_nosotros" src="../assets/images/imagen2.jpg" alt="Imagen vision">
            </section>
        </div>
        <div class="video-container">
            <h1 class="title-us">Video about-us</h1>
            <iframe width="1903" height="758" src="https://www.youtube.com/embed/Gzyk1BoTMxA" title="Video About-Us"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </main>
</body>
<footer class="footer">
	<div id="redes">
		<a href="https://www.instagram.com">
			<img id="ig" src="../assets/icons/instagram.png" width="30px" alt="Instagram">
		</a>
		<a href="https://www.tiktok.com">
			<img id="tiktok" src="../assets/icons/tik-tok.png" width="30px" alt="TikTok">
		</a>
		<a href="https://www.facebook.com">
			<img id="fb" src="../assets/icons/facebook.png" width="30px" alt="Facebook">
		</a>
		<a href="https://twitter.com">
			<img id="twitter" src="../assets/icons/twitter.png" width="30px" alt="Twitter">
		</a>
	</div>
	<div id="privacidad-terminos">
		<a href="#" id="privacidad">AVISO DE PRIVACIDAD</a>
		<a href="#">TERMINOS Y CONDICIONES</a>
	</div>
</footer>

<!--JAVASCRIPT-->
<script src="../scripts/header.js"></script>

</html>